<!DOCTYPE html>
<html lang="en-US" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Greenwich &#8211; College</title>
    <!-- Bootstrap Core and vandor -->
    <link rel="stylesheet" href="../assets/plugins/bootstrap/css/bootstrap.min.css" />

    
    <link rel="stylesheet" href="../css/common-skeleton.min.css?" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/tooltip.min.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/font-awesome.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/elegant-font.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/style.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/page-builder.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../plugins/revslider/public/assets/css/rs6.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/style-core.css" type="text/css" media="all" />
    <link rel="stylesheet" href="../css/kingster-style-custom.css" type="text/css" media="all" />

    <link rel="stylesheet" id="gdlr-core-google-font-css" href="https://fonts.googleapis.com/css?family=Jost%3A100%2C200%2C300%2Cregular%2C500%2C600%2C700%2C800%2C900%2C100italic%2C200italic%2C300italic%2Citalic%2C500italic%2C600italic%2C700italic%2C800italic%2C900italic%7CMontserrat%3A100%2C100italic%2C200%2C200italic%2C300%2C300italic%2Cregular%2Citalic%2C500%2C500italic%2C600%2C600italic%2C700%2C700italic%2C800%2C800italic%2C900%2C900italic&amp;subset=cyrillic%2Clatin%2Clatin-ext%2Ccyrillic-ext%2Cvietnamese&amp;ver=5.5.1"
        type="text/css" media="all" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400%2C700%7CRoboto:400" rel="stylesheet" property="stylesheet" media="all" type="text/css" />

</head>

<body class="home page-template-default page page-id-6208 gdlr-core-body tribe-no-js kingster-body kingster-body-front kingster-full kingster-with-sticky-navigation kingster-sticky-navigation-no-logo kingster-blockquote-style-1 gdlr-core-link-to-lightbox">
    <div class="kingster-mobile-header-wrap">
        <div class="kingster-mobile-header kingster-header-background kingster-style-slide kingster-sticky-mobile-navigation" id="kingster-mobile-header">
            <div class="kingster-mobile-header-container kingster-container clearfix">
                <div class="kingster-logo kingster-item-pdlr kingster-mobile-logo-center">
                    <div class="kingster-logo-inner">
                        <a class="" href="index.html"><img src="../upload/logo-HP.png" alt="" width="200" height="200" title="logo HP" /></a>
                    </div>
                </div>
                <div class="kingster-mobile-menu-right">
                    <div class="kingster-main-menu-search" id="kingster-mobile-top-search"><i class="fa fa-search"></i>
                    </div>
                    <div class="kingster-top-search-wrap">
                        <div class="kingster-top-search-close"></div>

                        <div class="kingster-top-search-row">
                            <div class="kingster-top-search-cell">
                                <form role="search" method="get" class="search-form" action="#">
                                    <input type="text" class="search-field kingster-title-font" placeholder="Search..." value="" name="s" />
                                    <div class="kingster-top-search-submit"><i class="fa fa-search"></i></div>
                                    <input type="submit" class="search-submit" value="Search" />
                                    <div class="kingster-top-search-close"><i class="icon_close"></i></div>
                                    <input type="hidden" name="ref" value="course" /><input type="hidden" name="post_type" value="lp_course" />
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kingster-mobile-menu-left">
                    <div class="kingster-mobile-menu">
                        <a class="kingster-mm-menu-button kingster-mobile-menu-button kingster-mobile-button-hamburger" href="#kingster-mobile-menu"><span></span></a>
                        <div class="kingster-mm-menu-wrap kingster-navigation-font" id="kingster-mobile-menu" data-slide="right">
                            <ul id="menu-main-navigation" class="m-menu">
                                <li class="menu-itemmenu-item-home current-menu-item page_item page-item-6208 current_page_item ">
                                    <a href="index.html" aria-current="page">Home</a>
                                </li>
                                <li class="menu-item menu-item-has-children ">
                                    <a href="portfolio-masonry-4-columns.html">Portfolio</a>
                                </li>
                                <li class="menu-itemmenu-item-has-children ">
                                    <a href="bachelor-of-science-in-business-administration.html">Academics</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item menu-item-has-children ">
                                            <a>Undergraduate</a>
                                            <ul class="sub-menu">
                                                <li class="menu-item"><a href="school-of-law.html">School Of Law</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="menu-itemmenu-item-has-children ">
                                    <a href="apply-to-kingster.html">Admissions</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="give-to-kingster.html">Give To Kingster</a></li>
                                        <li class="menu-item"><a href="alumni.html">Alumni</a></li>
                                    </ul>
                                </li>
                                <li class="menu-item menu-item-has-children ">
                                    <a href="#">Courses</a>
                                    <ul class="sub-menu">
                                        <li class="menu-item"><a href="course-list-1.html">IT Course</a></li>
                                    </ul>
                                </li>
                                <li class="menu-itemmenu-item-has-children ">
                                    <a href="blog-full-right-sidebar-with-frame.html">Blog</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="kingster-body-outer-wrapper">
        <div class="kingster-body-wrapper clearfix kingster-with-transparent-header kingster-with-frame">
            <div class="kingster-header-background-transparent">
                <div class="kingster-top-bar">
                    <div class="kingster-top-bar-background"></div>
                    <div class="kingster-top-bar-container kingster-container">
                        <div class="kingster-top-bar-container-inner clearfix">
                            <div class="kingster-top-bar-left kingster-item-pdlr">
                                <a href="index.html" style="margin-right: 30px;">Campus</a><a href="#" style="margin-right: 30px;">Documentation</a><a data-toggle="modal" data-target="#loginModal" href="login.html" style="margin-right: 30px;">Login</a>
                            </div>

                            <div class="kingster-top-bar-right kingster-item-pdlr">
                                <div class="kingster-top-bar-right-text"><span style="color: #8dd7e5; margin-right: 30px;">Phone: +84 969 696 969</span><a href="#" style="margin-right: 0px;">Help Center</a></div>
                                <div class="kingster-top-bar-right-social">
                                    <a href="#" target="_blank" class="kingster-top-bar-social-icon" title="facebook"><i
                                        class="fa fa-facebook"></i></a>
                                    <a href="#" target="_blank" class="kingster-top-bar-social-icon" title="twitter"><i
                                        class="fa fa-twitter"></i></a>
                                    <a href="#" target="_blank" class="kingster-top-bar-social-icon" title="instagram"><i
                                        class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- header -->
            </div>

            <div class="kingster-page-wrapper" id="kingster-page-wrapper">
                <div class="gdlr-core-page-builder-body">
                    <div class="gdlr-core-pbf-wrapper" style="padding: 150px 0px 0px 0px;">
                        <div class="gdlr-core-pbf-background-wrap"></div>
                        <div class="gdlr-core-pbf-wrapper-content gdlr-core-js">
                            <div class="gdlr-core-pbf-wrapper-container clearfix gdlr-core-container">
                                <div class="gdlr-core-pbf-column gdlr-core-column-60 gdlr-core-column-first" id="gdlr-core-column-50996">

                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30 gdlr-core-column-first gdlr-core-hide-in-mobile" id="gdlr-core-column-23044" style="z-index: 9;">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="margin: -50px -70px 0px -50px; padding: 0px 0px 0px 0px;">
                                        <div class="gdlr-core-pbf-background-wrap"></div>
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-image-item gdlr-core-item-pdb gdlr-core-center-align gdlr-core-item-pdlr" style="padding-bottom: 0px;">
                                                    <div class="gdlr-core-image-item-wrap gdlr-core-media-image gdlr-core-image-item-style-rectangle" style="border-width: 0px; max-width: 576px;">
                                                        <img src="../upload/Women-25.png" alt="" width="876" height="993" title="Women 25" />
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="gdlr-core-pbf-column gdlr-core-column-30" data-skin="Course color" id="gdlr-core-column-42138">
                                    <div class="gdlr-core-pbf-column-content-margin gdlr-core-js" style="
                                            box-shadow: 0px 30px 50px rgba(3, 15, 39, 0.1);
                                            -moz-box-shadow: 0px 30px 50px rgba(3, 15, 39, 0.1);
                                            -webkit-box-shadow: 0px 30px 50px rgba(3, 15, 39, 0.1);
                                            margin-top: -50px;
                                            margin-bottom: 0px;
                                            margin-left: -50px;
                                            padding: 70px 40px 65px 40px;
                                            border-radius: 7px 7px 7px 7px;
                                            -moz-border-radius: 7px 7px 7px 7px;
                                            -webkit-border-radius: 7px 7px 7px 7px;
                                        ">
                                        <div class="gdlr-core-pbf-column-content clearfix gdlr-core-js">
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-title-item gdlr-core-item-pdb clearfix gdlr-core-center-align gdlr-core-title-item-caption-bottom gdlr-core-item-pdlr" style="padding-bottom: 45px;">
                                                    <div class="gdlr-core-title-item-title-wrap clearfix">
                                                        <h3 class="gdlr-core-title-item-title gdlr-core-skin-title" style="font-size: 28px; font-weight: 400; color: #222222;">
                                                            Change Password</h3>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="gdlr-core-pbf-element">
                                                <div class="gdlr-core-course-search-item gdlr-core-item-pdb gdlr-core-item-pdlr" style="padding-bottom: 0px;">
                                                    <form class="gdlr-core-course-form clearfix" action="/update_self_pass" method="POST">

                                                        <div class="gdlr-core-course-column gdlr-core-column-60 gdlr-core-column-first">
                                                            <div class="gdlr-core-course-search-field gdlr-core-course-field-keywords">
                                                                <input type="password" placeholder="Enter old password" name="old_password" id="email" value="" required></div>
                                                        </div>
                                                        <div class="gdlr-core-course-column gdlr-core-column-60 gdlr-core-column-first">
                                                            <div class="gdlr-core-course-search-field gdlr-core-course-field-keywords">
                                                                <input type="password" placeholder="Enter new password" name="new_password" id="email" value="" required></div>
                                                        </div>
                                                        <div class="gdlr-core-course-column gdlr-core-column-60 gdlr-core-column-first">
                                                            <div class="gdlr-core-course-search-field gdlr-core-course-field-keywords">
                                                                <input type="password" placeholder="Enter confirm password" name="re_password" id="email" value="" required></div>
                                                        </div>
                                                        <div class="gdlr-core-course-form-submit gdlr-core-course-column gdlr-core-column-first gdlr-core-center-align">
                                                            <input class="gdlr-core-auto-size" type="submit" value="Change" />
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <footer class="kingster-no-title-divider">
                <div class="kingster-footer-wrapper">
                    <div class="kingster-footer-container kingster-container clearfix">
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="text-2" class="widget widget_text kingster-widget">
                                <div class="textwidget">
                                    <p>
                                        <img src="../upload/logo-HP.png" alt="" width="90" /><br/>
                                        <span class="gdlr-core-space-shortcode" style="margin-top: 0px;"></span><br/> Box 35300
                                        <br/> 1810 Campus Way NE
                                    </p>
                                    <p>
                                        <span style="font-size: 15px; color: #ffffff;">+1-2534-4456-345</span><br/>
                                        <span class="gdlr-core-space-shortcode" style="margin-top: -20px;"></span><br/>
                                        <a style="font-size: 15px; color: #8dd7e5;" href="#">
                                            <span class="__cf_email__">test@gmail.com</span>
                                        </a>
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="gdlr-core-custom-menu-widget-2" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                                <h3 class="kingster-widget-title">Our Campus</h3>
                                <span class="clear"></span>
                                <div class="menu-our-campus-container">
                                    <ul id="menu-our-campus" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Acedemic</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Planning &#038;
                                        Administration</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Campus Safety</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Office of the Chancellor</a>
                                        </li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Facility Services</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Human Resources</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="gdlr-core-custom-menu-widget-4" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                                <h3 class="kingster-widget-title">Academics</h3>
                                <span class="clear"></span>
                                <div class="menu-academics-container">
                                    <ul id="menu-academics" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Canvas</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Catalyst</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Library</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Time Schedule</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Apply For Admissions</a>
                                        </li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Pay My Tuition</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="kingster-footer-column kingster-item-pdlr kingster-column-15">
                            <div id="gdlr-core-custom-menu-widget-3" class="widget widget_gdlr-core-custom-menu-widget kingster-widget">
                                <h3 class="kingster-widget-title">Campus Life</h3>
                                <span class="clear"></span>
                                <div class="menu-campus-life-container">
                                    <ul id="menu-campus-life" class="gdlr-core-custom-menu-widget gdlr-core-menu-style-plain">
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Accessibility</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Financial Aid</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Food Services</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Housing</a></li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Information Technologies</a>
                                        </li>
                                        <li class="menu-item  kingster-normal-menu"><a href="#">Student Life</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="kingster-copyright-wrapper">
                    <div class="kingster-copyright-container kingster-container clearfix">
                        <div class="kingster-copyright-left kingster-item-pdlr">Copyright All Right Reserved 2020, Max Themes
                        </div>
                        <div class="kingster-copyright-right kingster-item-pdlr">
                            <div class="gdlr-core-social-network-item gdlr-core-item-pdb gdlr-core-none-align" style="padding-bottom: 0px;">
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="facebook"><i
                                    class="fa fa-facebook"></i></a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="linkedin"><i
                                    class="fa fa-linkedin"></i></a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="twitter"><i
                                    class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank" class="gdlr-core-social-network-icon" title="instagram"><i
                                    class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>

    <!-- Modal -->
 <div class="modal fade show" id="error-modal" tabindex="-1" role="dialog" aria-labelledby="viewDetail" aria-hidden="true" style='padding-right: 0px; padding-top: 150px; display: <%= alert.visible %>;'>
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="viewDetail">Message</h5>
                <button type="button" class="close btn-close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span></button>
            </div>
            <div >
                <div class="modal-body">
                            <h6>
                                <%= alert.message %>
                            </h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary btn-close" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
    
    
<!-- Start Main project js, jQuery, Bootstrap -->
<script src="../assets/bundles/lib.vendor.bundle.js"></script>

<!-- Start Plugin Js -->
<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<script src="../assets/bundles/dataTables.bundle.js"></script>
<script src="../assets/plugins/dropify/js/dropify.min.js"></script>

<script src="../assets/plugins/sweetalert/sweetalert.min.js"></script>

<!-- Start project main js  and page js -->
<script src="../assets/js/core.js"></script>
<script src="../assets/js/form/dropify.js"></script>

<script src="../assets/js/page/dialogs.js"></script>
<script src="../assets/js/table/datatable.js"></script>

<script>
    $('.btn-close').on('click', function(){
        
        $('#error-modal').hide()
    })
</script>
    <script src="../js/jquery/jquery.js" id="jquery-core-js"></script>
    <script src="../plugins/revslider/public/assets/js/rbtools.min.js" id="tp-tools-js"></script>
    <script src="../plugins/revslider/public/assets/js/rs6.min.js" id="revmin-js"></script>
    <script src="../js/kingster-learnpress.js" id="kingster-learnpress-js"></script>
    <!-- <script>
    function setREVStartSize(e) {
        //window.requestAnimationFrame(function() {
        window.RSIW = window.RSIW === undefined ? window.innerWidth : window.RSIW;
        window.RSIH = window.RSIH === undefined ? window.innerHeight : window.RSIH;
        try {
            var pw = document.getElementById(e.c).parentNode.offsetWidth,
                newh;
            pw = pw === 0 || isNaN(pw) ? window.RSIW : pw;
            e.tabw = e.tabw === undefined ? 0 : parseInt(e.tabw);
            e.thumbw = e.thumbw === undefined ? 0 : parseInt(e.thumbw);
            e.tabh = e.tabh === undefined ? 0 : parseInt(e.tabh);
            e.thumbh = e.thumbh === undefined ? 0 : parseInt(e.thumbh);
            e.tabhide = e.tabhide === undefined ? 0 : parseInt(e.tabhide);
            e.thumbhide = e.thumbhide === undefined ? 0 : parseInt(e.thumbhide);
            e.mh = e.mh === undefined || e.mh == "" || e.mh === "auto" ? 0 : parseInt(e.mh, 0);
            if (e.layout === "fullscreen" || e.l === "fullscreen")
                newh = Math.max(e.mh, window.RSIH);
            else {
                e.gw = Array.isArray(e.gw) ? e.gw : [e.gw];
                for (var i in e.rl)
                    if (e.gw[i] === undefined || e.gw[i] === 0) e.gw[i] = e.gw[i - 1];
                e.gh = e.el === undefined || e.el === "" || (Array.isArray(e.el) && e.el.length == 0) ? e.gh : e.el;
                e.gh = Array.isArray(e.gh) ? e.gh : [e.gh];
                for (var i in e.rl)
                    if (e.gh[i] === undefined || e.gh[i] === 0) e.gh[i] = e.gh[i - 1];
                var nl = new Array(e.rl.length),
                    ix = 0,
                    sl;
                e.tabw = e.tabhide >= pw ? 0 : e.tabw;
                e.thumbw = e.thumbhide >= pw ? 0 : e.thumbw;
                e.tabh = e.tabhide >= pw ? 0 : e.tabh;
                e.thumbh = e.thumbhide >= pw ? 0 : e.thumbh;
                for (var i in e.rl) nl[i] = e.rl[i] < window.RSIW ? 0 : e.rl[i];
                sl = nl[0];
                for (var i in nl)
                    if (sl > nl[i] && nl[i] > 0) {
                        sl = nl[i];
                        ix = i;
                    }
                var m = pw > (e.gw[ix] + e.tabw + e.thumbw) ? 1 : (pw - (e.tabw + e.thumbw)) / (e.gw[ix]);
                newh = (e.gh[ix] * m) + (e.tabh + e.thumbh);
            }
            if (window.rs_init_css === undefined) window.rs_init_css = document.head.appendChild(document.createElement("style"));
            document.getElementById(e.c).height = newh + "px";
            window.rs_init_css.innerHTML += "#" + e.c + "_wrapper { height: " + newh + "px }";
        } catch (e) {
            console.log("Failure at Presize of Slider:" + e)
        }
        //});
    };
</script> -->
    <script>
        (function(body) {
            'use strict';
            body.className = body.className.replace(/\btribe-no-js\b/, 'tribe-js');
        })(document.body);
    </script>
    <script>
        /* <![CDATA[ */
        var tribe_l10n_datatables = {
            "aria": {
                "sort_ascending": ": activate to sort column ascending",
                "sort_descending": ": activate to sort column descending"
            },
            "length_menu": "Show _MENU_ entries",
            "empty_table": "No data available in table",
            "info": "Showing _START_ to _END_ of _TOTAL_ entries",
            "info_empty": "Showing 0 to 0 of 0 entries",
            "info_filtered": "(filtered from _MAX_ total entries)",
            "zero_records": "No matching records found",
            "search": "Search:",
            "all_selected_text": "All items on this page were selected. ",
            "select_all_link": "Select all pages",
            "clear_selection": "Clear Selection.",
            "pagination": {
                "all": "All",
                "next": "Next",
                "previous": "Previous"
            },
            "select": {
                "rows": {
                    "0": "",
                    "_": ": Selected %d rows",
                    "1": ": Selected 1 row"
                }
            },
            "datepicker": {
                "dayNames": ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"],
                "dayNamesShort": ["Sun", "Mon", "Tue", "Wed", "Thu", "Fri", "Sat"],
                "dayNamesMin": ["S", "M", "T", "W", "T", "F", "S"],
                "monthNames": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesShort": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "monthNamesMin": ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
                "nextText": "Next",
                "prevText": "Prev",
                "currentText": "Today",
                "closeText": "Done",
                "today": "Today",
                "clear": "Clear"
            }
        }; /* ]]> */
    </script>
    <script>
        if (typeof revslider_showDoubleJqueryError === "undefined") {
            function revslider_showDoubleJqueryError(sliderID) {
                var err = "<div class='rs_error_message_box'>";
                err += "<div class='rs_error_message_oops'>Oops...</div>";
                err += "<div class='rs_error_message_content'>";
                err += "You have some jquery.js library include that comes after the Slider Revolution files js inclusion.<br>";
                err += "To fix this, you can:<br>&nbsp;&nbsp;&nbsp; 1. Set 'Module General Options' -> 'Advanced' -> 'jQuery & OutPut Filters' -> 'Put JS to Body' to on";
                err += "<br>&nbsp;&nbsp;&nbsp; 2. Find the double jQuery.js inclusion and remove it";
                err += "</div>";
                err += "</div>";
                var slider = document.getElementById(sliderID);
                slider.innerHTML = err;
                slider.style.display = "block";
            }
        }
    </script>

    <script src="../js/script.js" id="gdlr-core-plugin-js"></script>
    <script id="gdlr-core-page-builder-js-extra">
        /* <![CDATA[ */
        var gdlr_core_pbf = {
            "admin": "",
            "video": {
                "width": "640",
                "height": "360"
            },
            "ajax_url": "#"
        };
        /* ]]> */
    </script>
    <script src="../js/page-builder.js" id="gdlr-core-page-builder-js"></script>
    <script src="../js/jquery/ui/effect.min.js" id="jquery-effects-core-js"></script>
    <script id="kingster-script-core-js-extra">
        /* <![CDATA[ */
        var kingster_script_core = {
            "home_url": "index.html"
        };
        /* ]]> */
    </script>
    <script src="../js/script-core.js" id="kingster-script-core-js"></script>
    <script>
        setREVStartSize({
            c: 'rev_slider_1_1',
            rl: [1240, 1240, 1240, 480],
            el: [1080, 1080, 1080, 500],
            gw: [1280, 1280, 1280, 480],
            gh: [1080, 1080, 1080, 500],
            type: 'standard',
            justify: '',
            layout: 'fullwidth',
            mh: "0"
        });
        var revapi1,
            tpj;
        function revinit_revslider11() {
            jQuery(function() {
                tpj = jQuery;
                revapi1 = tpj("#rev_slider_1_1");
                if (revapi1 == undefined || revapi1.revolution == undefined) {
                    revslider_showDoubleJqueryError("rev_slider_1_1");
                } else {
                    revapi1.revolution({
                        sliderLayout: "fullwidth",
                        visibilityLevels: "1240,1240,1240,480",
                        gridwidth: "1280,1280,1280,480",
                        gridheight: "1080,1080,1080,500",
                        perspective: 600,
                        perspectiveType: "local",
                        editorheight: "1080,768,960,500",
                        responsiveLevels: "1240,1240,1240,480",
                        progressBar: {
                            disableProgressBar: true
                        },
                        navigation: {
                            onHoverStop: false,
                            touch: {
                                touchenabled: true
                            }
                        },
                        fallbacks: {
                            allowHTML5AutoPlayOnAndroid: true
                        },
                    });
                }
            });
        } // End of RevInitScript
        var once_revslider11 = false;
        if (document.readyState === "loading") {
            document.addEventListener('readystatechange', function() {
                if ((document.readyState === "interactive" || document.readyState === "complete") && !once_revslider11) {
                    once_revslider11 = true;
                    revinit_revslider11();
                }
            });
        } else {
            once_revslider11 = true;
            revinit_revslider11();
        }
    </script>
    <script>
        var htmlDivCss = unescape(".jost-font%7B%20font-family%3A%20%27jost%27%20%21important%3B%20%7D%0A.lebeaune-font%7B%20font-family%3A%20%27LeBeauneNew%27%20%21important%3B%20%7D");
        var htmlDiv = document.getElementById('rs-plugin-settings-inline-css');
        if (htmlDiv) {
            htmlDiv.innerHTML = htmlDiv.innerHTML + htmlDivCss;
        } else {
            var htmlDiv = document.createElement('div');
            htmlDiv.innerHTML = '<style>' + htmlDivCss + '</style>';
            document.getElementsByTagName('head')[0].appendChild(htmlDiv.childNodes[0]);
        }
    </script>

</body>

</html>