<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  

  <%- style %>
</head>
<body>
  

  <%- body %>

  <footer>
    <%- defineContent('footer') %>
  </footer>

  <%- script %>
</body>
</html>